<section>
  <div class="container"></div>
  <h2>Catalog</h2>
  <ul class="catalog-list">
    <li>
      <picture>
        <source
          media="(min-width: 1280px )"
          srcset="
            ./img/catalog-img/catalog1.png    1x,
            ./img/catalog-img/catalog1@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/catalog-img/tablet-catalog1.png    1x,
            ./img/catalog-img/tablet-catalog1@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./img/catalog-img/mobile-catalog1.png    1x,
            ./img/catalog-img/mobile-catalog1@2x.png 2x
          "
        />
        <img src="./img/catalog-img/mobile-catalog1.png" alt="" />
      </picture>
      <h3>Garmin Fenix 7X Pro Sapphire Solar</h3>
      <p>€500</p>
    </li>
    <li>
      <picture>
        <source
          media="(min-width: 1280px )"
          srcset="
            ./img/catalog-img/catalog2.png    1x,
            ./img/catalog-img/catalog2@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/catalog-img/tablet-catalog2.png    1x,
            ./img/catalog-img/tablet-catalog2@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./img/catalog-img/mobile-catalog2.png    1x,
            ./img/catalog-img/mobile-catalog2@2x.png 2x
          "
        />
        <img src="./img/catalog-img/mobile-catalog2.png" alt="" />
      </picture>
      <h3>Garmin Marq Athlete</h3>
      <p>€450</p>
    </li>
    <li>
      <picture>
        <source
          media="(min-width: 1280px )"
          srcset="
            ./img/catalog-img/catalog3.png    1x,
            ./img/catalog-img/catalog3@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/catalog-img/tablet-catalog3.png    1x,
            ./img/catalog-img/tablet-catalog3@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./img/catalog-img/mobile-catalog3.png    1x,
            ./img/catalog-img/mobile-catalog3@2x.png 2x
          "
        />
        <img src="./img/catalog-img/mobile-catalog3.png" alt="" />
      </picture>
      <h3>Garmin Descent MK1</h3>
      <p>€680</p>
    </li>
    <li>
      <picture>
        <source
          media="(min-width: 1280px )"
          srcset="
            ./img/catalog-img/catalog4.png    1x,
            ./img/catalog-img/catalog4@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/catalog-img/tablet-catalog4.png    1x,
            ./img/catalog-img/tablet-catalog4@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./img/catalog-img/mobile-catalog4.png    1x,
            ./img/catalog-img/mobile-catalog4@2x.png 2x
          "
        />
        <img src="./img/catalog-img/mobile-catalog4.png" alt="" />
      </picture>
      <h3>Garmin D2 Delta PX</h3>
      <p>€380</p>
    </li>
    <li>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/catalog-img/catalog5.png    1x,
            ./img/catalog-img/catalog5@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/catalog-img/tablet-catalog5.png    1x,
            ./img/catalog-img/tablet-catalog5@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./img/catalog-img/mobile-catalog5.png    1x,
            ./img/catalog-img/mobile-catalog5@2x.png 2x
          "
        />
        <img src="./img/catalog-img/mobile-catalog5.png" alt="" />
      </picture>
      <h3>Garmin Fenix 6 Pro Solar</h3>
      <p>€400</p>
    </li>
    <li>
      <picture>
        <source
          media="(min-width: 1280px )"
          srcset="
            ./img/catalog-img/catalog6.png    1x,
            ./img/catalog-img/catalog6@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/catalog-img/tablet-catalog6.png    1x,
            ./img/catalog-img/tablet-catalog6@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./img/catalog-img/mobile-catalog6.png    1x,
            ./img/catalog-img/mobile-catalog6@2x.png 2x
          "
        />
        <img src="./img/catalog-img/mobile-catalog6.png" alt="" />
      </picture>
      <h3>Tube Watch S42 Date Steel With Black Case</h3>
      <p>€395</p>
    </li>
  </ul>
</section>
