<section>
  <div class="container">
    <h1>Welcome to our collection of premium watches</h1>
    <p>
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <ul class="team-list">
      <li>
        <picture>
          <img
            width="60"
            height="60"
            src="./img/team-img/img-team1.png"
            alt="our team images"
          />
        </picture>
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
