<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-title" id="reviews">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <picture>
          <source
            class="reviews-img"
            media="(min-width: 1280px)"
            srcset="
              ./img/team-img/img-team2.png    1x,
              ./img/team-img/img-team2@2x.png 2x
            "
          />
          <source
            class="reviews-img"
            media="(min-width: 768px)"
            srcset="
              ./img/team-img/tablet-img-team2.png    1x,
              ./img/team-img/tablet-img-team2@2x.png 2x
            "
          />
          <source
            class="reviews-img"
            media="(min-width: 320px)"
            srcset="
              ./img/team-img/mobile-img-team2.png    1x,
              ./img/team-img/mobile-img-team2@2x.png 2x
            "
          />
          <img
            class="reviews-img"
            src="./img/team-img/mobile-img-team2.png"
            alt="team photo"
          />
        </picture>
        <div class="reviews-wrapper">
          <h3 class="img-title">John Wax</h3>
          <p class="img-text">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>
      </li>
      <li class="reviews-item none1">
        <picture>
          <source
            class="reviews-img"
            media="(min-width: 1280px)"
            srcset="
              ./img/team-img/img-team1.png    1x,
              ./img/team-img/img-team1@2x.png 2x
            "
          />
          <source
            class="reviews-img"
            media="(min-width: 768px)"
            srcset="
              ./img/team-img/tablet-img-team1.png    1x,
              ./img/team-img/tablet-img-team1@2x.png 2x
            "
          />
          <source
            class="reviews-img"
            media="(min-width: 320px)"
            srcset="
              ./img/team-img/mobile-img-team1.png    1x,
              ./img/team-img/mobile-img-team1@2x.png 2x
            "
          />
          <img
            class="reviews-img"
            src="./img/team-img/mobile-img-team1.png"
            alt="team photo"
          />
        </picture>
        <div class="reviews-wrapper">
          <h3 class="img-title">Victoria Romashenko</h3>
          <p class="img-text">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </div>
      </li>
      <li class="reviews-item none2">
        <picture>
          <source
            class="reviews-img"
            media="(min-width: 1280px)"
            srcset="
              ./img/team-img/img-team3.png    1x,
              ./img/team-img/img-team3@2x.png 2x
            "
          />
          <source
            class="reviews-img"
            media="(min-width: 768px)"
            srcset="
              ./img/team-img/tablet-img-team3.png    1x,
              ./img/team-img/tablet-img-team3@2x.png 2x
            "
          />
          <source
            class="reviews-img"
            media="(min-width: 320px)"
            srcset="
              ./img/team-img/mobile-img-team3.png    1x,
              ./img/team-img/mobile-img-team3@2x.png 2x
            "
          />
          <img
            class="reviews-img"
            src="./img/team-img/mobile-img-team3.png"
            alt="team photo"
          />
        </picture>
        <div class="reviews-wrapper">
          <h3 class="img-title">Anastasia Trachuk</h3>
          <p class="img-text">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
