<section class="sale-section">
  <div class="container">
    <h2 class="sale-title" id="sale">Sale</h2>
    <div class="sale-wrapper">
      <div class="sale-photo-wrapper">
        <ul class="photo-list">
          <li class="photo-list-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/sale-img/sale1.png   1x,
                  ./img/sale-img/sale1@2.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale-img/sale1.png   1x,
                  ./img/sale-img/sale1@2.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/sale-img/mobile-sale1.png   1x,
                  ./img/sale-img/mobile-sale1@2.png 2x
                "
              />
              <img src="./img/sale-img/mobile-sale1.png" alt="photo item" />
            </picture>
          </li>
          <li class="photo-list-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/sale-img/sale2.png   1x,
                  ./img/sale-img/sale2@2.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale-img/sale2.png   1x,
                  ./img/sale-img/sale2@2.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/sale-img/mobile-sale2.png   1x,
                  ./img/sale-img/mobile-sale2@2.png 2x
                "
              />
              <img src="./img/sale-img/mobile-sale2.png" alt="photo item" />
            </picture>
          </li>
          <li class="photo-list-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/sale-img/sale3.png   1x,
                  ./img/sale-img/sale3@2.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale-img/sale3.png   1x,
                  ./img/sale-img/sale3@2.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/sale-img/mobile-sale3.png   1x,
                  ./img/sale-img/mobile-sale3@2.png 2x
                "
              />
              <img src="./img/sale-img/mobile-sale3.png" alt="photo item" />
            </picture>
          </li>
          <li class="photo-list-item">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/sale-img/sale4.png   1x,
                  ./img/sale-img/sale4@2.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale-img/sale4.png   1x,
                  ./img/sale-img/sale4@2.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/sale-img/mobile-sale4.png   1x,
                  ./img/sale-img/mobile-sale4@2.png 2x
                "
              />
              <img src="./img/sale-img/mobile-sale4.png" alt="photo item" />
            </picture>
          </li>
        </ul>
        <picture class="sale-title-photo">
          <source
            media="(min-width: 1280px)"
            srcset="./img/sale-img/sale5.png 1x, ./img/sale-img/sale5@2.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/sale-img/sale5.png 1x, ./img/sale-img/sale5@2.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/sale-img/mobile-sale5.png   1x,
              ./img/sale-img/mobile-sale5@2.png 2x
            "
          />
          <img src="./img/sale-img/mobile-sale5.png" alt="photo item" />
        </picture>
      </div>
      <div class="sale-text-wrapper">
        <h3 class="sale-text-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="tag-text">Product tag: 706587</p>
        <div class="prise-text">
          <p class="prise1">€1500</p>
          <p class="prise2">€3000</p>
        </div>
        <p class="sale-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <div class="sale-item-container">
          <p class="sale-item">Fused carbon fiber</p>
          <p class="sale-item">Grade-5 Titanuim</p>
          <p class="sale-item">Athlete</p>
          <p class="sale-item">Golfer</p>
          <p class="sale-item">Commander</p>
          <p class="sale-item">Adventurer</p>
        </div>
      </div>
    </div>
  </div>
</section>
