<section>
  <div class="container">
    <h2 id="sale">Sale</h2>
    <ul class="photo-list">
      <li>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./img/sale-img/sale1.png 1x, ./img/sale-img/sale1@2.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/sale-img/sale1.png 1x, ./img/sale-img/sale1@2.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/sale-img/mobile-sale1.png   1x,
              ./img/sale-img/mobile-sale1@2.png 2x
            "
          />
          <img src="./img/sale-img/mobile-sale1.png" alt="photo item" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./img/sale-img/sale2.png 1x, ./img/sale-img/sale2@2.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/sale-img/sale2.png 1x, ./img/sale-img/sale2@2.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/sale-img/mobile-sale2.png   1x,
              ./img/sale-img/mobile-sale2@2.png 2x
            "
          />
          <img src="./img/sale-img/mobile-sale2.png" alt="photo item" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./img/sale-img/sale3.png 1x, ./img/sale-img/sale3@2.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/sale-img/sale3.png 1x, ./img/sale-img/sale3@2.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/sale-img/mobile-sale3.png   1x,
              ./img/sale-img/mobile-sale3@2.png 2x
            "
          />
          <img src="./img/sale-img/mobile-sale3.png" alt="photo item" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./img/sale-img/sale4.png 1x, ./img/sale-img/sale4@2.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/sale-img/sale4.png 1x, ./img/sale-img/sale4@2.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/sale-img/mobile-sale4.png   1x,
              ./img/sale-img/mobile-sale4@2.png 2x
            "
          />
          <img src="./img/sale-img/mobile-sale4.png" alt="photo item" />
        </picture>
      </li>
    </ul>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="./img/sale-img/sale5.png 1x, ./img/sale-img/sale5@2.png 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="./img/sale-img/sale5.png 1x, ./img/sale-img/sale5@2.png 2x"
      />
      <source
        media="(min-width: 320px)"
        srcset="
          ./img/sale-img/mobile-sale5.png   1x,
          ./img/sale-img/mobile-sale5@2.png 2x
        "
      />
      <img src="./img/sale-img/mobile-sale5.png" alt="photo item" />
    </picture>
    <h3>MARQ® Commander (Gen 2) - Carbon Edition</h3>
    <p>Product tag: 706587</p>
    <p>€1500</p>
    <p>€3000</p>
    <p>
      The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
      adventurers that takes materials and features to the next level. The body
      of the watch is made of very durable Fused Carbon Fiber material and has a
      precise AMOLED touch screen. The sensitive touch screen is complemented by
      buttons that can be used in any conditions.
    </p>
    <p>Fused carbon fiber</p>
    <p>Grade-5 Titanuim</p>
    <p>Athlete</p>
    <p>Golfer</p>
    <p>Commander</p>
    <p>Adventurer</p>
  </div>
</section>
