<footer>
  <div class="container footer-container">
    <a href="../index.html">WhiteBeach</a>
    <div class="footer-contact">
      <h3 id="contacts">Наші контакти</h3>
      <ul class="footer-list">
        <li>
          <a href="tel:+380963280007"
            ><svg width="20" height="20">
              <use href="./img/sprite.svg#icon-phone"></use></svg
          ></a>
        </li>
        <li>
          <a href="http://"
            ><svg width="20" height="20">
              <use href="./img/sprite.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li>
          <a href="http://"
            ><svg width="20" height="20">
              <use href="./img/sprite.svg#icon-instagram"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
