<footer class="footer-page">
  <div class="container">
    <div class="footer-info">
      <a class="footer-title" id="footer" href="../index.html">watchcharm</a>
      <ul class="social-list-footer">
        <li>
          <a
            class="slf-item"
            target="_blank"
            href="https://www.facebook.com/goITclub/"
            ><svg
              class="icon-footer"
              width="36"
              height="36"
              aria-label="icon facebook"
            >
              <use href="./img/icon/sprite.svg#icon-facebook-footer"></use></svg
          ></a>
        </li>
        <li>
          <a
            class="slf-item"
            target="_blank"
            href="https://www.instagram.com/goitclub/"
            ><svg
              class="icon-footer"
              width="36"
              height="36"
              aria-label="icon instagram"
            >
              <use
                class="test"
                href="./img/icon/sprite.svg#icon-instagram-footer"
              ></use></svg
          ></a>
        </li>
        <li>
          <a
            class="slf-item"
            target="_blank"
            href="https://www.youtube.com/c/GoIT"
            ><svg
              class="icon-footer"
              width="36"
              height="36"
              aria-label="icon youtube"
            >
              <use href="./img/icon/sprite.svg#icon-youtube-footer"></use></svg
          ></a>
        </li>
      </ul>
      <a href="tel:+380684439426">+380 (68) 443-94-26</a>
    </div>
    <h3 class="footer-text">
      Have the time of your life with our watches: where high-class
      craftsmanship meets impeccable design
    </h3>
    <div class="footer-midle">
      <ul class="nav-page-footer">
        <li><a href="../index.html">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#catalog">Catalog</a></li>
        <li><a href="#sale">Sale</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
      <p class="adress-info">1678 S. Pioneer Road Salt Lake City UT 84104</p>
    </div>
    <div class="footer-fot line">
      <div class="foter-fot-wrapper">
        <p>©2023 The Watch Spot. All rights reserved.</p>
        <div class="foter-fot2">
          <p>Terms of Service</p>
          <p>Privacy Policy</p>
        </div>
      </div>
    </div>
  </div>
</footer>
