<header>
  <div class="container head-container">
    <a class="logo" href="../index.html">watchcharm</a>
    <nav>
      <ul class="nav-page">
        <li><a class="nav-item" href="../index.html">Home</a></li>
        <li><a class="nav-item" href="#about">About Us</a></li>
        <li><a class="nav-item" href="#catalog">Catalog</a></li>
        <li><a class="nav-item" href="#sale">Sale</a></li>
        <li><a class="nav-item" href="#reviews">Reviews</a></li>
        <li><a class="nav-item" href="#contact">Contact Us</a></li>
      </ul>
    </nav>
    <button class="burger-btn">
      <svg width="34" height="34" aria-label="menu button">
        <use href="./img/icon/sprite.svg#burger-icon"></use>
      </svg>
    </button>
    <ul class="social-list">
      <li>
        <a
          class="social-item"
          target="_blank"
          href="https://www.facebook.com/goITclub/"
          ><svg width="20" height="20" aria-label="icon facebook">
            <use href="./img/icon/sprite.svg#facebook-icon"></use></svg
        ></a>
      </li>
      <li>
        <a
          class="social-item"
          target="_blank"
          href="https://www.instagram.com/goitclub/"
          ><svg width="20" height="20" aria-label="icon instagram">
            <use href="./img/icon/sprite.svg#instagram-icon"></use></svg
        ></a>
      </li>
      <li>
        <a
          class="social-item"
          target="_blank"
          href="https://www.youtube.com/c/GoIT"
          ><svg width="20" height="20" aria-label="icon youtube">
            <use href="./img/icon/sprite.svg#youtube-icon"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</header>
