<div class="backdrop">
  <div class="mobile-menu">
    <div class="container">
      <button class="close-btn" type="button">
        <svg aria-label="close button" width="34" height="34">
          <use href="../img/icon/sprite.svg#icon-x"></use>
        </svg>
      </button>
      <ul class="nav-page-menu navfot">
        <li><a href="../index.html">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#catalog">Catalog</a></li>
        <li><a href="#sale">Sale</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
      <ul class="social-list-footer mobile-soc">
        <li>
          <a
            class="slf-item"
            target="_blank"
            href="https://www.facebook.com/goITclub/"
            ><svg
              class="icon-footer"
              width="36"
              height="36"
              aria-label="icon facebook"
            >
              <use href="./img/icon/sprite.svg#icon-facebook-footer"></use></svg
          ></a>
        </li>
        <li>
          <a
            class="slf-item"
            target="_blank"
            href="https://www.instagram.com/goitclub/"
            ><svg
              class="icon-footer"
              width="36"
              height="36"
              aria-label="icon instagram"
            >
              <use
                class="test"
                href="./img/icon/sprite.svg#icon-instagram-footer"
              ></use></svg
          ></a>
        </li>
        <li>
          <a
            class="slf-item"
            target="_blank"
            href="https://www.youtube.com/c/GoIT"
            ><svg
              class="icon-footer"
              width="36"
              height="36"
              aria-label="icon youtube"
            >
              <use href="./img/icon/sprite.svg#icon-youtube-footer"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
