<div class="mobile-menu">
  <div class="container">
    <button type="button">
      <svg aria-label="close button" width="34" height="34">
        <use href="../img/icon/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="nav-page">
      <li><a href="../index.html">Home</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#catalog">Catalog</a></li>
      <li><a href="#sale">Sale</a></li>
      <li><a href="#reviews">Reviews</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
    <ul class="social-list">
      <li>
        <a target="_blank" href="https://www.facebook.com/goITclub/"
          ><svg width="36" height="36" aria-label="icon facebook">
            <use href="../img/icon/sprite.svg#facebook-icon"></use></svg
        ></a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/goitclub/"
          ><svg width="36" height="36" aria-label="icon instagram">
            <use href="../img/icon/sprite.svg#instagram-icon"></use></svg
        ></a>
      </li>
      <li>
        <a target="_blank" href="https://www.youtube.com/c/GoIT"
          ><svg width="36" height="36" aria-label="icon youtube">
            <use href="../img/icon/sprite.svg#youtube-icon"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</div>
