@import url('./fonts/stylesheet.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./section/hero-section.css');
@import url('./section/about-us.css');
@import url('./section/catalog.css');
@import url('./section/advertisement.css');
@import url('./section/sale.css');
@import url('./section/reviews.css');
@import url('./section/contact-us.css');
@import url('./section/footer.css');
@import url('./mobile-menu.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
